.c-tasks {
  display: block;
  &__item {
    color: red;
    font-size: 14px;
    font-family: Arial;
    font-weight: 700;
    &--done {
      color: green;
    }
  }
}

//.c-tasks__item--done {
//  color: green;
//}
//.c-tasks__text{
//  color: blue;
//}
//.c-tasks__number{
//  color: purple;
//}
