<div class="c-gallery">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4" *ngFor="let item of gallery">
      <figure class="c-gallery__item">
        <img class="c-gallery__img" src="{{item.imgUrl}}" alt="">
        <figcaption>{{item.caption}}</figcaption>
        <span>Created By: {{item.createdBy}}</span>
      </figure>
    </div>
  </div>
</div>

<!--container-->
<!--row -->
<!--col-->

<!--col-->
<!--col-1-->
<!--col-2-->
<!--col-3-->
<!--.-->
<!--.-->
<!--.-->
<!--col-12-->

<!--.col-sm-1-->
<!--.col-sm-2-->
<!--.col-sm-3-->
<!--.col-sm-4-->
<!--.-->
<!--.-->
<!--.-->
<!--.col-sm-12-->


<!--.col-md-	.col-lg-	.col-xl- -->
