<a routerLink="/button" routerLinkActive="active">Button </a>
<a routerLink="/tasks/5" routerLinkActive="active">Tasks</a>

<router-outlet></router-outlet>


<!--<app-class-example></app-class-example>-->


<!--<app-class-example [list]="listOfFather">-->
<!--  <h1>Lista de ropa</h1>-->
<!--</app-class-example>-->
<!--<app-class-example [list]="listOfFather2">-->
<!--  <h1>Lista de fruta</h1>-->
<!--</app-class-example>-->
<!--<app-class-example [list]="listOfFather3">-->
<!--  <h1>Lista de pecados capitales</h1>-->
<!--</app-class-example>-->


<!--<app-if-example [mostrarP]="true"></app-if-example>-->


<!--<app-first-component [nombreVariable]="name"></app-first-component>-->

<!--<app-xyz></app-xyz>-->


<!--<app-button [text]="'Cancelar'"></app-button>-->
<!--<app-button [text]="'Enviar'"></app-button>-->
<!--<app-button [text]="'Guardar'"></app-button>-->
<!--<app-button (confirmEmitter)="confirmed($event)"></app-button>-->

<!--<app-button></app-button>-->

<!--<app-for-example [list]="listOfFather"></app-for-example>-->

<!--<app-tasks [tasks]="taskList"></app-tasks>-->


<!--<app-input-model></app-input-model>-->
<!--<app-checkbox-model></app-checkbox-model>-->
